#stack wide variable
OM=
TZ=
#vanilla variables
VANILLA_TYPE="FABRIC"
VANILLE_VERSION="1.20.4"
VANILLA_UID=
VANILLA_GID=
VANILLA_MEMORY=
#tectonic variables
TECT_TYPE=
TECT_VERSION=
TECT_UID=
TECT_GID=
TECT_MEMORY=
#creative variables
CREA_TYPE="FABRIC"
CREA_VERSION="1.20.4"
CREA_UID=
CREA_GID=
CREA_MEMORY=
#mining variables
MINE_TYPE=
MINE_VERSION=
MINE_UID=
MINE_GID=
MINE_MEMORY=